<div class="tape">
  <div class="screws">
    <i></i><i></i><i></i><i></i><i></i>
  </div>
  <div class="outdent"></div>
  <div class="holes">
    <i></i><i></i><i></i><i></i>
  </div>
  <div class="label">
    <div class="inner">
      <div class="stripes">
        <i></i><i></i>
      </div>
      <div class="cutout">
        <div class="wheel">
          <i></i><i></i><i></i><i></i><i></i><i></i>
        </div>
        <div class="wheel">
          <i></i><i></i><i></i><i></i><i></i><i></i>
        </div>
        <div class="window">
          <div class="spool-left"></div>
          <div class="spool-right"></div>
          <div class="reel-left"></div>
          <div class="reel-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>