@keyframes dash {
  to {
    stroke-dashoffset:-1200;
  }
}

@keyframes fade {
  0%  {opacity:1}
  20% {opacity:0}
}


.ekg {
	stroke-width: 2;
	@media(min-width: 576px) {
    stroke-width: 1;
  }
	@media(min-width: 940px) {
		stroke-width: 0.5;
	}
  position: fixed;
  top: 50%;
  bottom: 50%;
  z-index: -1;
  opacity:1;
  stroke-dasharray:600;
  @include animation(dash 3.5s linear forwards infinite,fade 3.5s linear infinite);
}