.ekg {
	stroke-width: 2;
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  margin-top: 40px;
  z-index: -1;
  stroke-dasharray:1200;
  stroke-dashoffset:1200;
  @include animation(dash 5s 7s linear forwards); // , fade 3.5s linear infinite // forwards infinite
}

@keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset:0;
  }
}

@media(min-width: 576px) {
  .ekg {
    stroke-width: 1;
  }
}

@media(min-width: 940px) {
  .ekg {
    stroke-width: 0.5;
  }
}

