body {
  padding-top: 52px;
}

section {
  height: 100vh;
}

section.home {
  color: white;
  svg {
    overflow: visible;
  }
}

section.main {
  background-color: #db5858;
  .middle-casette {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .casette {
    height: 40vh;
    width: 40vh;
    background: url('../assets/images/casette.svg');
    background-repeat: no-repeat;
  }
}

h1.page-title {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 7px;
  font-family: "brandon-grotesque";
  font-size: 100px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 8px;
  font-weight: 300;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  position: relative;
  z-index: inherit;
}

section.busy-doctor {
  //height: 100vh;
  background: url('../assets/images/about.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  .middle-cta {
    background: white;
    height: 250px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    border-radius: 20px;
    .text {
      text-align: center;
    }
  }
}

.svg-wrapper {
  height: 60px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.svg-text {
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}