//body {
//  padding-top: 52px;
//}

section {
  height: 100vh;
}

section.home {
  color: white;
  svg {
    overflow: visible;
  }
  .heart-loader {
    position: fixed;
    z-index: -1;
  }
}

section.doctors-busy {
  .background-retro {
    background: url('../assets/images/about.svg');
  }
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 25px;
  }
}

section.main {
  background-color: #db5858;
  .casette {
    height: 40vh;
    width: 40vh;
    background: url('../assets/images/casette.svg');
    background-repeat: no-repeat;
  }
  .typed-content, .typed-cursor {
    color: white;
    font-size: 45px
  }
}

section.busy-doctor {
  //height: 100vh;
  background: url('../assets/images/about.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  .middle-cta {
    background: white;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.8);
    .text {
      text-align: center;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 30px;
      }
    }
  }
}

footer.site-footer {
  height: 90px;
}