//body {
//  padding-top: 52px;
//}

.section {
  height: 100vh;
  overflow: hidden;
}

div[class^="typed-"], div[class*=' typed-'] {
  color: white;
  font-size: 35px;
  text-align: center;
  @media(min-width: 576px) {
    font-size: 45px;
  }
}

.typed-one {
  @media(min-width: 768px) {
    text-align: left !important;
  }
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media(min-width: 576px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 27px;
  }
}

.section.home {
  color: white;
  svg {
    overflow: visible;
  }
  .heart-loader {
    position: fixed;
    z-index: -1;
  }
  .chevron {
    color: black;
    height: 100%;
    animation-delay: 7s;
    .animated {
      animation-duration: 1s;
      animation-delay: 7s;
      margin-bottom: 20px;
    }
  }
}

.section.doctors-busy {
  .background-retro {
    background: url('../assets/images/about.svg');
  }
}

.section.main {
  background-color: #db5858;
  .casette {
    height: 40vh;
    width: 40vh;
    background: url('../assets/images/casette.svg');
    background-repeat: no-repeat;
  }
}

.section.keyboard {
  background: #93bc95;
  img {
    width: 90vw;
    @media(min-width: 756px) {
      width: 1000px;
    }
  }
}

.section.busy-doctor {
  //height: 100vh;
  background: url('../assets/images/about.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  .middle-cta {
    background: white;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.8);
    .text {
      text-align: center;
    }
  }
}

footer.site-footer {
  height: 90px;
}